.environment-cards  {
  --d: 1000ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}


.environment-cards .card-border:hover:before {
  transform: scaleY(1);
}

.environment-cards .card-border:hover:after {
  transform: scaleX(1);
}

.environment-cards .content {
  transition: transform var(--d) var(--e);
}

.environment-cards .content {
  transform: translateY(calc(100% - 4.5rem));
}


.environment-cards .content:after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.1582) 46.6%,
    hsla(0, 0%, 0%, 0.300) 53.1%,
    hsla(0, 0%, 0%, 0.420) 58.9%,
    hsla(0, 0%, 0%, 0.494) 64.3%,
    hsla(0, 0%, 0%, 0.568) 69.3%,
    hsla(0, 0%, 0%, 0.640) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.821) 88.7%,
    hsla(0, 0%, 0%, 0.862) 94.1%,
    hsla(0, 0%, 0%, 0.890) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
  opacity: 0;
}

.environment-cards .content > *:not(.title) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

/* hover states */

.environment-cards .card:hover  {
  transform: scale(1.03);
  transition: 0.8s;
}

.environment-cards .card:hover .content {
  transform: translateY(0);
}

.environment-cards .card:hover .content::after {
  opacity: 1;
}



.environment-cards .card:hover .content {
  transform: translateY(0);
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}

.environment-cards .card:hover .content > *:not(.title) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}





