
  .custom-shape-divider-bottom-1700894480 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700894480 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700894480 .shape-fill {
    fill: #047857;
}
